
.tips {
	margin: 10px;
	color: #999;
	font-family: arial,sans-serif;
	font-size: 0.8em;
	line-height: 20px;
}
.notes{
	margin: 10px;
	color: #999;
	font-family: arial,sans-serif;
	font-size: 1em;
	line-height: 20px;
}