* {margin: 0; padding: 0;}
.left{float: left;}
.right{float: right;}

body {
	background: #E6E6E6;
}

#topBar {
	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%; height: 30px;
	background: #222;
	color: #FFF;
}
.navTag {
	margin: 5px 7px;
	float: left;
	list-style: none;
	line-height: 20px;

}
.signin{
	float: left;
	list-style: none;
	background: #4D90FE;
	line-height: 30px;
	width: 50px;
	text-align: center;
	cursor: pointer;
}
.navLink {
	text-decoration: none;
	color: #CCC;
}
.active {
	font-weight: bold;
	color: #FFF;
}
.wrapper {
	position: relative;
	margin: 50px auto;
	width: 1000px;
	background: #FFF;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.header {
	position: relative;
	margin: 0 auto;
	width: 1000px; height: 120px;
	line-height: 50px;
	overflow: hidden;
	background: #f1f1f1;
}
.box {
	width: 1000px; height: 120px;
	border-bottom: 1px solid #FFF;
}
.logo {
	margin: 25px 15px;
	width: 300px; height: 50px;
}
.search {
	margin: 25px 15px;
	width: 350px; height: 35px;
}
#suggestorlogin{
	position: absolute;
	width: 1000px;
	height: 400px;
}
.login {
	position: relative;
	top: 50px;
	width: 300px; height: 180px;
	margin: 30px auto;
}
.contain {
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 900px; height: 800px;
}

.lineRow{
	position: relative;
	width: 260px; height: 40px;
	margin: 10px;
}
.span{
	width: 250px; height: 30px;
	border-radius: 2px;
	padding-left: 8px;
	font-family: arial,sans-serif; 
	background: #FFF;
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.searchbtn {
	width: 60px; height: 31px;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ED;
	color: #FFF;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
.topbtn {

	width: 50px; height: 26px;
	margin: 2px 0;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ED;
	color: #FFF;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
}
.tips {
	margin: 10px;
	color: #999;
	font-family: arial,sans-serif;
	font-size: 1em;
	line-height: 20px;
}

.contain h1{
	margin: 50px 0 0 0;
	border-bottom: 1px solid #d4d4d5;
	color: #383838;
	font-weight: lighter;
	font-size: 2em;
}
.resources{
	margin-top: 30px;
	width: 700px;
	list-style: none;
}
.item{
	height: 60px;
	margin-top: 10px;
	border-bottom: 1px solid #CCC;
}
.detail {
	font-family: arial,sans-serif;
	text-align: center;
	margin: 6px 120px 0 ;
}
.detail h3{
	font-size: 1.5em;
	line-height:0;
	margin:5px;
}
.icon{
	margin: 0px;
}

#footer {
	position: relative;
	top: 50px;
	margin: 0 50px;
	padding-top: 10px;
	width: 900px; height: 150px;
	border-top: 1px solid #d4d4d5;
	color: #ccc;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 1em;
}
#left_active{
	position: absolute;
	top: 0px;
	right:0px;
	height: 100%;
	width: 26px;
	z-index:50;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	cursor: pointer;
	
}
#left_side{
	position: fixed;
	top: 30px;
	left:0px;
	height: 100%;
	width: 26px;
	box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.3);
}
#left_content{
    position: absolute;
	top: 0px;
	right:0px;
	height: 100%;
	width: 400px;
	background: white;
	}
p{
	margin: 20px 0px 10px;
}	
#wantfooter {
	position: relative;
	top: 20px;
	margin: 0 auto;
	padding-top: 10px;
	width: 900px; height: 150px;
	border-top: 1px solid #d4d4d5;
	color: #ccc;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 1em;
}
#arrows{
	position: absolute;
	right:0px;
	top:260px;
	width:16px;
	height:80px;
	background:#B2F3C4;
	
}