#doc_resourcedetails_0{
	position: absolute;
    top: 50px;
    left : 400px;
    height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 0;
	font-size: 15px;
	display : none
}
#doc_resourcedetails_1{
	position: absolute;
    top: 40px;
    left : 850px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_2{
	position: absolute;
    top: 180px;
    left : 580px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_3{
	position: absolute;
   top: 450px;
    left : 860px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_4{
	position: absolute;
    top: 230px;
    left : 800px;
    height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_5{
	position: absolute;
   top: 500px;
    left : 392px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_6{
	position: absolute;
    top: 400px;
    left : 579px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_7{
	position: absolute;
    top: 300px;
    left : 345px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_8{
	position: absolute;
    top: 550px;
    left : 700px;
    height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
#doc_resourcedetails_9{
	position: absolute;
    top: 10px;
    left : 600px;
     height:80px;
	width:120px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10;
	display : none
}
