.wantContent {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}
.wantHot {
	width: 300px;
}
.wantColumn {
	float: left;
	vertical-align: top;
	position: relative;
	height: auto;
	
}
.wantCommon {
	width: 300px;
}
.wantItem {
	list-style: none;
	height: auto;
	display: inline-block;
	background-color: #FFF;
	color: #666;
	font-size: 0.9em;
	box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
}
.wantItemCommon {
	width:280px;
	margin: 15px 15px 15px 15px; 
}
.wantItemHot {
	width: 300px;
	margin: 15px 0 0 0; 
}
.wantItemHeader {
	margin: 10px;
	width: 270px; height: 20px;
}
.wantItemBody {
	margin: 0 20px 15px;
	width: 250px;
	line-height: 15px;
}
}
.wantItemFoot {
	border-top: 1px solid #F3F3F3;
	background: #F6F6F9;
	height: 32px;
	font-size: 1.0em;
}

.wantItemHeaderHot {
	margin: 10px;
	width: 270px; height: 20px;
}
.wantItemBodyHot {
	margin: 0 20px 15px;
	width: 270px;
	line-height: 15px;
}
.name {
	margin: 8px 0;
	font-size: 0.8em;
}
.time {
	margin: 8px;
}
.ava {
	margin: 6px;
	width: 20px; height: 20px;
}
.operation {
	margin: 6px;
}
.pureBtn {
	width: 30px; line-height: 20px;
	font-size: 1.0em;
	cursor: pointer;
}
.aNoLine {
	text-decoration: none;
}
.wantItemHeader h4{
	margin: 0 0 0 0;
}