 #{extends 'main.html' /} #{set title:'index.html' /}
 <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
 <style>
 body{
 padding:40px;
}
 .left{
 text-align:left;
 }
 .right{
 text-align:right;
 }
 td{
 width:200px
 }
  #tableview{
 margin: 50px 20px 20px;
 }
 #top_search{
 margin: 0px auto;
 position: relative;
 overflow: hidden;
 width :500px;
 }
 .search_td{
 width:200px
 }
 .search_table{
 max-width: 100%;
 }
 </style>
 <div id="top_search">
 #{form @Admin.searchUser(),method:'POST'}
 <table class="search_table">
 <tr>
 <th class="search_td right" >用户名:</th>
 <td class="search_td left"><input type="text" name="serach_username"></td>
 </tr>
 <tr><td ></td>
 <td><button type="submit" class="pull-right">搜索</button></td>
 </tr>
 </table>
 #{/form}
 </div>
 <div id="tableview">
 <table class="table table-condensed">
  <thead>
  <tr>
  <td>学号</td>
  <td>昵称</td>
  <td>邮件地址</td>
  <td>登陆状态</td>
  </tr>
 </thead>
 
 <tbody>
  #{list items:filelist, as:'Users' }
 <tr>
  <td>${Users.username}</td>
  <td>${Users.nickname}</td>
  <td>
  #{if Users.mailaddress == null }
    未激活
#{/if}
#{else}
    ${Users.mailaddress}
#{/else}</td>
  <td>
  #{if Users.statue == '1' }
    禁止登陆
#{/if}
#{else}
    允许登陆
#{/else}
 </td>
  <td><a href="@{Admin.deleteUser(page,Users.id)}">删除</a></td>
  <td><a href="@{Admin.vieweditUser(page,Users.id)}">编辑</a></td>
  </tr>
  #{/list}
 </tbody>

</table>
<div id="pagination_contain">
 <div class="pagination pagination-small">
  <ul id="pagenumber">
  </ul>
</div>
</div>
</div>
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
 <script src="@{'/public/javascripts/paging.js'}"></script>
<script type="text/javascript">
function pHtml(a,b,c){
	$("#pagenumber").append("<li><a href='@{Admin.admin_user()}?page="+a+"'>"+(c||a)+"</a></li>");
}
function pHtml2(a){
	$("#pagenumber").append("<li><span class='cPageNum'>"+a+"</span></li>");
}
var paging = new paging();
$(document).ready(function() {
	paging.go(${page},${allpage});
});
</script>