 #{extends 'main.html' /} #{set title:'index.html' /}
 <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
 <style>
 body{
 padding:40px;
}
 .left{
 text-align:left;
 }
 .right{
 text-align:right;
 }
 td{
 width:200px
 }
  #tableview{
 margin: 50px 20px 20px;
 }
 #top_search{
 position: relative;
 overflow: hidden;
 width:200px;
 }
 .search_td{
 width:200px
 }
 .search_table{
 max-width: 100%;
 }
  #top_add{
 position: absolute;
 left:300px;
 top:40px;
 }
 .add_table{
 border-left:1px #DDD solid;
 max-width: 100%;
 width:200px;
 }
 input{
 width:100px;
 }
 select {
  width:150px;
 }
 </style>
 <div>
 <div id="top_search">
 #{form @Admin.searchSubject(),method:'POST'}
 <table class="search_table">
 <tr>
 <th class="search_td right" >名称:</th>
 <td class="search_td left"><input type="text" name="serach_subject"></td>
 </tr>
 <tr><td ></td>
 <td><button type="submit" class="pull-right">搜索</button></td>
 </tr>
 </table>
 #{/form}
 </div>
 
 <div id="top_add">
 #{form @Admin.addSubject(),method:'POST'}
 <table class="add_table">
 <tr>
 <th class="search_td right" >学院:</th>
 <td class="search_td left">
 <select name="institute">
 #{list items:listinstitute, as:'Institute' }
        <option>${Institute.institute}</option>
    #{/list}
 
 </select>
 </td>
 </tr>
 <tr>
 <th class="search_td right" >名称:</th>
 <td class="search_td left">
 <input type="text" name="subject">
 </td>
 </tr>
 <tr><td ></td>
 <td><button type="submit" class="pull-right">增加</button></td>
 </tr>
 </table>
 #{/form}
 </div>
 </div>
   <div id="tableview">
 <table class="table table-condensed">
  <thead>
  <tr>
  <td>学院</td>
  <td>学科</td>
  </tr>
 </thead>
 
 <tbody>
  #{list items:filelist, as:'Instituteinfo' }
 <tr>
  <td>${Instituteinfo.institute}</td>
  <td>${Instituteinfo.subject}</td>
  <td><a href="@{Admin.vieweditSubject(page,Instituteinfo.id)}">编辑</a></td>
  </tr>
  #{/list}
 </tbody>
</table>
<div id="pagination_contain">
 <div class="pagination pagination-small">
  <ul id="pagenumber">
  </ul>
</div>
</div>
</div>
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
<script src="@{'/public/javascripts/paging.js'}"></script>
<script type="text/javascript">
function pHtml(a,b,c){
	$("#pagenumber").append("<li><a href='@{Admin.admin_subject()}?page="+a+"'>"+(c||a)+"</a></li>");
}
function pHtml2(a){
	$("#pagenumber").append("<li><span class='cPageNum'>"+a+"</span></li>");
}
var paging = new paging();
$(document).ready(function() {
	paging.go(${page},${allpage});
	if(${statue} == 1){
		alert("操作成功");
	}
	else if(${statue} == 2){
		alert("命名重复");
	}
	else if(${statue} == 3){
		alert("学科名不能为空");
	}
});
</script>