 #{extends 'main.html' /} #{set title:'index.html' /}
 <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
 <style type="text/css">
  body{
padding: 40px;
}
  </style>
  #{form @Admin.editUser(),method:'POST',class:'form-horizontal'}
  <input type="hidden" value="${users.id}" name="id">
  <input type="hidden" value="${page}" name="page">
  <div class="control-group">
    <label class="control-label" for="username">学号</label>
    <div class="controls">
      ${users.username}
    </div>
  </div>
  
  <div class="control-group">
  <label class="control-label" for="nickname">昵称</label>
    <div class="controls">
      <input type="text" id="nickname" name="nickname" value=${users.nickname}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="mailaddress">Email地址</label>
    <div class="controls">
      #{if users.mailaddress == null }
    未激活
#{/if}
#{else}
    ${Users.mailaddress}
#{/else}
    </div>
  </div>
  
   <div class="control-group">
    <label class="control-label" for="mailaddress">登陆状态</label>
    <div class="controls">
    #{if users.statue == "0" }
    <select name="statue">
  <option value="0" selected>允许登陆</option>
  <option value="1">禁止登陆</option>
</select>
#{/if}
#{else}
   <select name="statue">
  <option value="0">允许登陆</option>
  <option value="1" selected>禁止登陆</option>
</select>
#{/else}
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="mailaddress">角色</label>
    <div class="controls">
    #{if users.authority == "0" }
    <select name="authority">
  <option value="0" selected>普通用户</option>
  <option value="1">管理员</option>
  <option value="2">超级用户</option>
</select>
#{/if}

#{elseif users.authority == "1"}
   <select name="authority">
  <option value="0">普通用户</option>
  <option value="1" selected>管理员</option>
  <option value="2">超级用户</option>
</select>
#{/elseif}

#{else}
   <select name="authority">
  <option value="0">普通用户</option>
  <option value="1">管理员</option>
  <option value="2" selected>超级用户</option>
</select>
#{/else}
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">提交</button>
    </div>
  </div>
#{/form}