 #{extends 'main.html' /} #{set title:'index.html' /}
 <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
 <style type="text/css">
  body{
padding: 40px;
}
  </style>
  #{form @Admin.editResource(),method:'POST',class:'form-horizontal'}
  <input type="hidden" value="${filename.id}" name="id">
  <input type="hidden" value="${page}" name="page">
  <div class="control-group">
    <label class="control-label" for="realname">名称</label>
    <div class="controls">
      <input type="text" id="realname" name="realname" value=${filename.realName}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="institute">学院</label>
    <div class="controls">
    <select id="select_institute" name="institute">
    #{list items:list_institute, as:'Institute' }
        <option>${Institute.institute}</option>
    #{/list}
</select>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="subject">学科</label>
    <div class="controls">
      <select id="select_subject" name="subject">
  #{list items:list_suject, as:'Suject' }
        <option>${Suject.subject}</option>
    #{/list}
</select>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">修改</button>
    </div>
  </div>
  #{/form}
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#select_institute").val("${filename.institute}");
	$("#select_subject").val("${filename.subject}");
});

</script>