 #{extends 'main.html' /} #{set title:'index.html' /}
 <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
 <style type="text/css">
  body{
padding: 40px;
}
  </style>
  #{form @Admin.editUser(),method:'POST',class:'form-horizontal'}
  <input type="hidden" value="${users.id}" name="id">
  <input type="hidden" value="${page}" name="page">
  <div class="control-group">
    <label class="control-label" for="username">用户名</label>
    <div class="controls">
      <input type="text" id="username" name="username" value=${users.username}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="password">密码</label>
    <div class="controls">
      <input type="text" id="password" name="password" value=${users.password}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="institute">学院</label>
    <div class="controls">
      <input type="text" id="institute" name="institute" value=${users.institute}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="mailaddress">Email地址</label>
    <div class="controls">
      <input type="text" id="mailaddress" name="mailaddress" value=${users.mailaddress}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="mailpassword">Email密码</label>
    <div class="controls">
      <input type="text" id="mailpassword" name="mailpassword" value=${users.mailpassword}>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">提交</button>
    </div>
  </div>
#{/form}