 #{extends 'main.html' /} #{set title:'index.html' /}
 <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<form class="form-horizontal" action="@{Admin.editResource()}">
  <input type="hidden" value="${filename.id}" name="id">
  <input type="hidden" value="${page}" name="page">
  <div class="control-group">
    <label class="control-label" for="realname">名称</label>
    <div class="controls">
      <input type="text" id="realname" name="realname" value=${filename.realName}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="institute">学院</label>
    <div class="controls">
      <input type="text" id="institute" name="institute" value=${filename.institute}>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="subject">学科</label>
    <div class="controls">
      <input type="text" id="subject" name="subject" value=${filename.subject}>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">修改</button>
    </div>
  </div>
</form>