 #{extends 'main.html' /} #{set title:'viewDownloads.html' /}
 <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
 <style type="text/css">
 .icon-plus{
 cursor: pointer;
 }
 .friend_name{
 margin:0 0 0 15px;
 }
 #content{
 margin:100px;
 }
 #main{
 margin-top:10px;
 border:1px solid gray;
 }
 td{
 width:230px;
 }
 .right{
 text-align:right;
 }
 </style>
<!--  联系人显示 -->
<div id="linkman" class="modal hide fade">
<div class="modal-header" id="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h6 id="myModalLabel">联系人</h6>
    </div>
    <form id="share_form" action="@{Personal.share_resource()}">
    <input type="hidden" name="hashName" id="share_hashName">
    <input type="hidden" name="realName" id="share_realName">
    <div class="modal-body" id="modal-body">
    
    </div>
  <div class="modal-footer">
  <textarea rows='2' name='share_content' id="share_content"></textarea>
  <input type="submit" value="提交">
  </div>
  </form>
</div>
<div id="content">
<ul>
    #{list items:file_list, as:'filename' }
    <div id="main">
        
        <table>
        <div id=div_${filename.id}>
        <tr>
        <td>资源名称：<a href="@{ViewResource.viewDownloadsDetails()}?hashName=${filename.hashName}">${filename.realName}</a></td>
        <td>上传日期：${filename.uploaddate}</td>
        <td>下载次数：${filename.downcount}</td>
        <td>评分：${filename.avescore}</td>
        </div>
        </tr>
        <tr><td colspan="3" ></td><td><div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="share_begin('${filename.hashName}','${filename.realName}');">分享</a></div></td></tr>
        </table>
 

</div>
    #{/list}
</ul>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
 <script src="/public/javascripts/jquery-1.6.4.min.js"></script>
 <script src="/public/javascripts/jquery.form.min.js"></script>
<script type="text/javascript">
/*这里用jquery会出现问题所以只能用js来实现组选了*/
function group_click(group_id){
	var test = document.getElementById("group_" + group_id).checked;
	selElements = document.getElementsByTagName("input"); 
	if(test == true){
		for (var i = 0; i < selElements.length; i++) {  
	        if (selElements[i].className == "div_firend_" + group_id) {
	        	selElements[i].checked = true;
	        }  
	    }  
	}else{
		for (var i = 0; i < selElements.length; i++) {  
	        if (selElements[i].className == "div_firend_" + group_id) {
	        	selElements[i].checked = false;
	        }  
	    }  
	}
}
function friend_state(group_id){
	 $("#div_group_" + group_id).toggle();
}

/*好友列表框出现*/
 $(document).ready(function() {
		$('#share_form').ajaxForm({
			dataType : 'json',
			success : share_response
		});
	});
	function share_response(){
		alert("分享成功");
		jQuery.noConflict();
		$('#linkman').modal('hide')
	}
function share_begin(hashName,realName){
	$("#share_hashName").val(hashName);
	$("#share_realName").val(realName);
	 jQuery.noConflict();
	$('#linkman').modal();
}
$(function(){
	$.get("@{ViewResource.viewLinkname()}",function(data,textStatus){
		$.each(data,function(commentIndex,map){
		$('#modal-body').append("<p><i class='icon-plus' onclick='friend_state("+ map.group_id +");'></i>"+ map.group
				  + "<input type='checkbox' id='group_" + map.group_id + "' onclick='group_click("+ map.group_id +");' name='group_name' value='"+ map.group +"'>" +
		  "</p>");
		$('#modal-body').append("<div id='div_group_" + map.group_id + "' class='friend_name'></div>");
		$.each(map.linkman,function(Index,LinkName){
			$("#div_group_" + map.group_id).append("<label class='checkbox'>"+
					  "<input type='checkbox' name='linkname' class='div_firend_"+ map.group_id + "' value='"+LinkName.friend_name+"'>"+LinkName.friend_name+
					  "</label>"); 
	});
		});
});
});

</script>
