#{extends 'main.html' /} #{set title:'viewDownloads.html' /}
 <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
 <style type="text/css">
 .select_group{
 width:130px;
 }
 .move_td{
 width:200px;
 text-align:right;
 }
 </style>
<form id="dofirend" action="">
<table>
<tr>
<td class="move_td">
<select name="to_group_id" class="select_group">
<option>移动好友到.....</option>
#{list items:group_list,as:'to_group' }
<option value="${to_group.id}">${to_group.firend_group}</option>
#{/list}
</select>
<input type="button" class="btn btn-info" value="Move" id="movebutton" onclick="submit_form(0)"></td>
<td class="move_td">删除好友：<input type="button" class="btn btn-info" value="delete" onclick="submit_form(1)"></td>
</tr>
</table>
#{list items:list,as:'LinkMan' }
<label class="checkbox" id= "checkbox_${LinkMan.id}">
  <input type="checkbox"  id="linkid_${LinkMan.id}" name="move_linkname_id" value="${LinkMan.id}">
  ${LinkMan.friend_name}
</label>
#{/list}
</form>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
 <script src="/public/javascripts/jquery-1.6.4.min.js"></script>
 <script src="/public/javascripts/jquery.form.min.js"></script>
<script type="text/javascript">
function submit_form(sign){
	if(sign == 0){
		$('#dofirend').attr("action","@{Personal.moveFriend()}");
	}else{
		$('#dofirend').attr("action","@{Personal.deleteFriend()}");
	}
	$('#dofirend').submit();
}

$(document).ready(function() {
	$('#dofirend').ajaxForm({
		dataType : 'json',
		success : move_response
	});
});
function move_response(data){
	$.each(data,function(commentIndex, comment){
		$("#checkbox_"+comment).remove();
	});
}

$(document).ready(function(){
	if(${sign} == 0){
		$("#movebutton").attr("disabled","disabled");
	}else{
		$("#movebutton").removeAttr("disabled");
	}
});
</script>