#{extends 'main.html' /} #{set title:'viewDownloads.html' /}
 <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
<style type="text/css">
#content{
 margin:100px;
 }

</style>
<div id="content">
问答:
<table class="table">
 #{list items:re_list, as:'map' }
        <tr><td>${map.message.raw()}</td><td><a href="@{Personal.Remove_Tips()}?id=${map.tips_id}">标记为已读</a></td></tr>
    #{/list}
</table>
<hr>
分享:
<table class="table">
#{list items:share_message_list, as:'map' }
   <tr><td>${map.message.raw()}</td><td><a href="@{Personal.Remove_Share_Tips()}?id=${map.tips_id}">标记为已读</a></td></tr>
    #{/list}
    </table>
    <hr>
    其他:
    <table class="table">
#{list items:other_list, as:'map' }
   <tr><td>${map.message.raw()}</td><td><a href="@{Personal.Remove_Other_Tips}?id=${map.tips_id}">标记为已读</a></td></tr>
    #{/list}
    </table>
    </div>