#{extends 'main.html' /} #{set title:'Home' /}
<style type="text/css">
#form {
	position: absolute;
	left: 1000px;
	top: 50px;
}

#institute {
	position: absolute;
	left: 0px;
	top: 250px
}

#subject {
	position: absolute;
	left: 200px;
	top: 250px
}

#login {
	position: absolute;
	left: 800px;
	top: 200px;
	width: 300px;
	text-align:center;
	
}

#searchForm {
	position: absolute;
	left: 800px;
	top: 250px;
}

#searchres {
	position: absolute;
	left: 800px;
	top: 300px;
}

#wronglogin {
	position: absolute;
	left: 1000px;
	top: 180px;
}
#suggest{
    position: absolute;
	left: 500px;
	top: 200px;
	overflow:auto;
	height:400px;
	width:300px;
}
#doc_middle_1{
    position: absolute;
	left: 300px;
	width: 280px;
	background-color:#e1e8e5;
	height :100%;
}
#doc_middle_2{
    position: absolute;
	left: 925px;
	width: 280px;
	background-color:#e1e8e5;
	height :100%;
}
.doc_resourcedetails{
    height:35px;
	width:220px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10
}
#cover_1{
    position: absolute;
    left: 783px;
	top:  180px;
	width: 20px;
	background-color:white;
	height :280px;
	z-index:1;
}
#cover_2{
    position: absolute;
    left: 783px;
	top:  300px;
	width: 20px;
	background-color:white;
	height :400px;
	z-index:1;
}
#uploadsbutton{
    position: absolute;
    left: 190px;
	top:30px;
	width: 150px;
}
</style>
<div id="cover_2">
</div>
<div id="cover_1">
</div>
<div id="doc_middle_1">
</div>
<div id="doc_middle_2"></div>
<!-- 隐藏域，用来记录学院 -->
<input type="hidden" id="hiddenval">
<!-- 隐藏域，用来记录学院下的小目录 -->
<input type="hidden" id="hiddenvalsub">

<div id="institute">
	<a href="#" onclick="$('#hiddenval').val('理学院');viewSub();">理学院</a> <a
		href="#" onclick="$('#hiddenval').val('经贸学院');viewSub();">经贸学院</a>
</div>

<!-- 显示资源信息 -->
<div id="downmes"></div>
<!-- 显示推荐信息 -->
<div id="suggest"></div>
<!-- 显示搜索结果 -->
<div id="searchres"></div>
<!-- 登录错误提示信息 -->
<label id="wronglogin">${user ?:'游客！欢迎你'}!</label>
<!-- 显示对应学院的学科 -->
<div id="subject"> </div>


<!-- 登录块 -->
<div id="login">
	<form class="form-horizontal" action="@{Login.LoginCheck()}" id="loginForms">
  <div class="control-group">
    <label class="control-label" for="inputEmail">学号</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Number" name="username">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">密码</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">登录</button>
    </div>
  </div>
</form>
</div>

 
<!-- 上传对话框 -->
<div id="uploadssurface" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">上传</h3>
  </div>
  <form action="@{Uploads.uploads()}" enctype="multipart/form-data"
		method="post" id="myForm">
  <div class="modal-body">
  学院：
  <select name="institute_sel" id="institute_sel">
  </select>
  学科:
  <select name="subject_sel" id="subject_sel">
  <option>---请选择---</option>
  </select>
  资源名称:
  <input type="file" name="upfile" id="upfile"> 
  </div>
  <div class="modal-footer">
  <input type="submit" value="上传" class="btn btn-primary">
  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
  </form>
</div>

<!-- 显示搜索栏 -->
<!--  
<div>
	<form id="searchForm" action="@{Search.searchRes()}">
		<input type="text" name="searchname"><br> <input
			type="submit" value="搜索">
	</form>
</div>
-->
<script type="text/javascript">
	/*显示相应学院学科目录*/
	function viewSub() {
		$.get("@{ViewResource.viewSubject}",
						{
			               institute : $("#hiddenval").val()
						},
						function(data, textStatus) {
							var html = "";
							$.each(data,function(commentIndex, comment) {
												html += "<a href='#' onclick=\"$('#hiddenvalsub').val('"+data[commentIndex].subject+"');viewRes();\">"
														+ data[commentIndex].subject
														+ "</a><br>";
											});
							$('#subject').html(html);
						}, "json");
	}
	/*异步上传*/
	$(document).ready(function() {
		$('#myForm').ajaxForm(function(responseText) {
			 alert("上传成功");
			$('#upfile').val("");
		});
	});
	/*登录之前显示热门资源*/
	$(document).ready(
			function() {
				$.get("@{ViewResource.viewMostDown()}", function(data,
						textStatus) {
					var html = "热门资源" + "<br>";
					$.each(data, function(commentIndex, comment) {
								html += "<div class='doc_resourcedetails'>"+
								"<a href=@{ViewResource.viewDownloadsDetails}?hashName="+data[commentIndex].hashName + ">" 
										+ data[commentIndex].realName 
										+ "</a>" 
										+"</div><br>";
					});
					$('#suggest').html(html);
				}, "json");
			});
	
	/*学生登录异步提交，并且显示该学生所在学院的热门资源*/
	$(document).ready(function() {
		$('#loginForms').ajaxForm({
			success : showResponse,
			datatype : 'json'
		});
	});

	function showResponse(responseJson) {
		var html = "";
		if (responseJson == null) {
			$('#wronglogin').text("用户名密码错误");
		} else {
			$.each(responseJson, function(commentIndex, comment) {
				html += "<div class='doc_resourcedetails'>"+
				"<a href=@{ViewResource.viewDownloadsDetails}?hashName="+responseJson[commentIndex].hashName + ">" 
						+ responseJson[commentIndex].realName 
						+"</a>" 
						+"</div><br>";
			});
			$('#wronglogin').text("");
			$('#suggest').html(html);
			var html1 = "<div id='uploadsbutton'><span class='label label-info'>欢迎你</span><br><br>"
			html1 += "<button class='btn btn-info btn-large btn-block' type='button' data-toggle='modal' data-target='#uploadssurface';>我要上传</button></div>";
			$('#login').html(html1);
		}
	}

	/*显示学院学科资源*/
	function viewRes() {
		$.get("@{ViewResource.viewDownloadsList}", {
			fileroute : $("#hiddenval").val(),
			subject : $("#hiddenvalsub").val()
		}, function(data, textStatus) {
			var html = "";
			$.each(data, function(commentIndex, comment) {
				html += "<a href=@{ViewResource.viewDownloadsDetails}?hashName="+data[commentIndex].hashName + ">" 
				+ data[commentIndex].realName 
				+ "</a>" 
				+"<br>";
			});
			$('#downmes').html(html);
		}, "json");
	}
	
	/*异步搜索*/
	$(document).ready(function() {
		$('#searchForm').ajaxForm({
			success : showSearchRes,
			datatype : 'json'
		});
	});

	function showSearchRes(responseJson) {
		var html = "";
		if ((typeof (responseJson[0].institute)) == "undefined") {
			/*
			*/
		} else {
			$.each(responseJson, function(commentIndex, comment) {
				html += "<a href=@{ViewResource.viewDownloadsDetails}?hashName="+responseJson[commentIndex].hashName + ">" 
				+ responseJson[commentIndex].realName 
				+ "</a>" 
				+"<br>";
			});
		}
		$('#searchres').html(html);
	}
	/*上传列表框二级联动*/
	$(document).ready(function(){
		$.get("@{ViewResource.viewInstitute}",function(data){
			$('#institute_sel').empty();
			$('#institute_sel').append("<option>---请选择---</option>");
			$.each(data,function(commentIndex, comment){
				$('#institute_sel').append("<option>"+data[commentIndex]+"</option>");
			});
		},"json");
	});
	
     $('#institute_sel').change(function(){
    	 $.get("@{ViewResource.viewSubject}",{
    		 institute: $('#institute_sel').val()
    	 },function(data){
    		 $('#subject_sel').empty();
    		 if(data == ""){
    			 $('#subject_sel').append("<option>---请选择---</option>");
    		 }else{
 			$.each(data,function(commentIndex, comment){
 				$('#subject_sel').append("<option>"+data[commentIndex].subject+"</option>");
 			});
 			}
 		},"json");
     });
</script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="./public/javascripts/jquery-1.6.4.min.js"></script>
<script src="./public/javascripts/jquery.form.min.js"></script>