 #{extends 'main.html' /} #{set title:'index.html' /}
<!-- <link rel="stylesheet" href="/public/css/style.css"> -->
<link rel="stylesheet" href="@{'/public/css/bootstrap-image-gallery.min.css'}">
<link rel="stylesheet" href="@{'/public/css/jquery.fileupload-ui.css'}">
<link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="@{'/public/css/resource_hot.css'}">
<link type="text/css" href="@{'/public/css/index.css'}" rel="stylesheet"/>
<link type="text/css" href="@{'/public/css/page.css'}" rel="stylesheet"/>
<link type="text/css" href="@{'/public/css/want.css'}" rel="stylesheet"/>
<style type="text/css">
.friend_name{
 margin:0 0 0 15px;
 }
#friendi{
cursor: pointer;
}
.iploadi{
position: absolute;
top:30px;
}
.pagination{
margin-right: auto; 
margin-left: auto;
width:auto;
}
#search_sure{
position :absolute;
top:5px;
left:200px;
}
.resource_name{
position: relative;
margin: 0 0 0 100px;
}
#pagination_contain{
position: absolute;
width: 380px;
top:400px;
left:0px;
}
.suggestItemBody {
	width: 300px;
	line-height: 15px;
}
.suggestColumn {
	float: left;
	vertical-align: top;
	position: relative;
	height: auto;
}
.suggestCommon {
	width: 280px;
}
.suggestItem {
	list-style: none;
	height: auto;
	display: inline-block;
	background-color: #FFF;
	color: #666;
	font-size: 0.8em;
	box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
}
.suggestItemCommon {
	width: 280px;
	margin: 15px 15px 0 0; 
}
#share_content{
 resize:none;
 width : 100px;
 height : 20px;
 enable : ture;
 maxlength :30;  
}

#modal-header{
height : 15px;
}
#linkman{
    position: absolute;
	left: 1250px;
	top: 60px;
	width : 150px;
	height : 500px;
}

#modal-body{
    height : 465px;
    overflow-y: auto; 
	overflow-x:hidden;
}

#form {
	position: absolute;
	left: 1000px;
	top: 50px;
}

#institute {
	position: absolute;
	left: 0px;
	top: 250px
}
#subject {
	position: absolute;
	left: 110px;
	top: 45px
}
#login_uploads {
	position: absolute;
	left: 925px;
	top: 200px;
	width: 300px;
	text-align:center;
}
#searchForm {
	position: absolute;
	left: 800px;
	top: 250px;
}
#searchres {
	position: absolute;
	left: 800px;
	top: 300px;
}

#wronglogin {
	position: absolute;
	left: 1150px;
	top: 180px;
}
 
 
#doc_middle_2{
    position: absolute;
	left: 1050px;
	width: 280px;
	background-color:#e1e8e5;
	height :100%;
}

#uploadsbutton{
    position: absolute;
    left: 190px;
	top:30px;
	width: 150px;
}
#downmes{
    position: absolute;
    left: 0px;
	top:0px;
	width: 380px;
	height:100%;
	background-color:#E6E6E6;
	display:none;
	z-index:1;
}
#bread{
    position: absolute;
    left: 0px;
	top:0px;
	width: 290px;
}
#navagation{
position: absolute;
    left: 0px;
	top:  36px;
}
#mes{

}
#share_button{
display:none;
}
</style>
</head>
<body>

<!-- 隐藏域，用来记录学院 -->
<input type="hidden" id="hiddenval">
<!-- 隐藏域，用来记录学院下的小目录 -->
<input type="hidden" id="hiddenvalsub">
<!-- 隐藏域，用来记录学院学科资源html信息 -->
<input type="hidden" id="resource_html">
<!-- 隐藏域，记录总的页数 -->
<input type="hidden" id="page">
<!--隐藏域， 如果session有值的话，用来存放session的值即用户名和密码 -->
<input type="hidden" value="${username}" id="session_username">
<input type="hidden" value="${password}" id="session_password">
<input type="hidden" value="${tipinfo}" id="tipinfo">

<!-- ***************************************************************************************** -->
<!-- 首页顶端导航 -->
<div id="topBar">
	<ol class="left">
		<li class="navTag"><a class="navLink" href="http://www.zjut.com/">精弘网络</a></li>
		<li class="navTag"><a class="navLink" href="http://bbs.zjut.com/">论坛</a></li>
		<li class="navTag"><a class="navLink" href="http://pt.zjut.com/">PT</a></li>
		<li class="navTag"><a class="navLink" href="http://down.zjut.com/">下载站</a></li>
		<li class="navTag"><a class="navLink" href="http://feel.zjut.com/">电台</a></li>
		<li class="navTag"><a class="navLink active" href="#">文档</a></li>
		<li class="navTag"><a class="navLink" href="http://go.zjut.com/">导航</a></li>
	</ol>
	<ol class="right" id="top_information">
		<li class="signin"><!-- <input type="button" class="topbtn" name="login" value="登陆"/> -->登录</li>
		<li class="navTag">注册</li>
	</ol>
</div>

<!-- ***************************************************************************************** -->
<!-- 首页中间内容 -->
<div class="wrapper">
	<div class="header" id="header">
		<div class="box">
			<div class="left logo">
			<!-- 左上角空白处用来画logo，我画的不好，可以让美工试试 -->
			</div>
			<div class="search right">
<!-- <!-- 				<input type="text" class="span left" placeholder="搜点什么试试" /> -->  
<!-- 				<input type="button" class="btn btn-primary" value="搜索"/>&nbsp; &nbsp; -->
				<a href='SeekHelp/seek_home?page=1'>找不到资源？去资源区问问看!</a>
			</div>
		</div>
		
		<!-- 登录块和显示推荐资源 -->
		<div id="suggestorlogin">
		<div class="login" id="login">
		#{form @Login.LoginCheck(),id:'loginForms',method:'POST'}
			<div class="lineRow"><input type="text" class="span" name="username" placeholder="学号/工号"/></div>
			<div class="lineRow"><input type="password" class="span" name="password" placeholder="密码"/></div>
			<div class="lineRow"><input type="submit" class="btn left" name="login" value="登陆"/><span class="tips left">忘记密码</span></div>
		#{/form}
		</div>
		</div>
	</div>
	
	<div class="contain">
		<h1>热门资源</h1>
		<!-- 资源列表 -->
		<ul class="resources right" id="hot_resource">
		</ul>
	</div>
	
	<div id="footer">
		<p class="left">Copyright © 2013 <a href="http://www.zjut.com">浙江工业大学-精弘网络</a></p>
		<p class="right">Design by <a href="http://www.hellohjk.com">HJK</a></p>
	</div>
</div>

<!-- ***************************************************************************************** -->
<!-- 上传对话框 -->
<div id="uploadssurface" class="modal hide fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">上传</h3>
  </div>
  <div class="modal-body">
  #{form @Uploads.uploads(),method:'POST',id:'fileupload',enctype:'multipart/form-data',method:'POST'}
    学院：
  <select name="institute_sel" id="institute_sel">
  </select>
  学科:
  <select name="subject_sel" id="subject_sel">
  <option>---请选择---</option>
  </select>
          <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white iploadi"></i>
          <span>Add files...</span>
          <input type="file" name="upfile" id="upfile" class="btn btn-primary">
          </span>
          <br>
          <div id="add_success">请添加文件</div>
          <br>
          <br>
          <div id="mes"> </div>
          <!-- 上传按钮 -->
          <div id="submit"></div>
          <!-- 过程提示 -->
          <div id="progress_prompt"></div>
          #{/form}
    <!-- 分享按钮 -->
          <div id="share_button">
          <button class="btn btn-primary" onclick="share_begin();">分享</button>
           </div>
     <!-- 上传条 -->
    <div id="progress">
    </div>
  </div>
  <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  
  </div>
</div>
<!-- ******************************************************************** -->

<!-- 联系人显示块 -->
<div id="linkman" class="modal hide fade">
<div class="modal-header" id="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h6 id="myModalLabel">联系人</h6>
    </div>
    #{form @Personal.share_resource(),id:'share_form',method:'POST'}
    <input type="hidden" name="hashName" id="share_hashName">
    <input type="hidden" name="realName" id="share_realName">
    <div class="modal-body" id="modal-body">
    
    </div>
  <div class="modal-footer">
  <textarea rows='2' name='share_content' id="share_content"></textarea>
  <input type="submit" value="提交">
  </div>
  #{/form}
</div>

<!-- ******************************************************************************** -->
<!-- 左边滑块 -->
<div id="left_side">

<div id="left_content">
<div id="navagation">
<div class="tabbable tabs-left">
<ul class="nav nav-tabs" id="institute_nav">
</ul>
</div>
 </div>
 <!-- 显示对应学院的学科 -->
<div id="subject"> </div>

<!-- 显示资源信息，分页，面包屑等信息 -->
<div id="downmes">
<!-- 搜索栏面包屑 -->
<div id="back_home"></div>
<!-- 资源显示区域 -->
<div id="resource"></div>

<!-- 相应学院科目资源搜索框 -->
<div id="search_sure">
#{form @Search.search_sure_res(),method:'POST',id:'search_sure_form'}
<input type="text" name="sure_name" style="width:100px;">
<input type="hidden" name="sure_subject"  id="sure_subject">
<input type="hidden" name="sure_institute" id="sure_institute">
<input type="hidden" name="sure_page" id="sure_page" value="1">
<button type="submit" class="btn btn-info  btn-small">搜索</button>
#{/form}
</div>

<!-- 分页显示 -->
<!-- <div id="test" style="height:70px;padding:30px 10px;"></div> -->
<!-- <div id="pageNav"></div> -->
<div id="pagination_contain">
 <div class="pagination pagination-small">
  <ul id="pagenumber">
  </ul>
</div>
</div>
</div>
 </div>
 
<!-- 滑块按钮 -->
<div id="left_active">
<div id="arrows">
<i class="icon-chevron-right icon-white iploadi"></i>
</div>
</div>
</div>
<!-- ******************************************************************** -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
<script src="@{'/public/javascripts/pagenav1.1.min.js'}"></script>
<script src="@{'/public/javascripts/seach_paging.js'}"></script>
<script src="@{'/public/javascripts/jquery.form.min.js'}"></script>
<script src="@{'/public/js/vendor/jquery.ui.widget.js'}"></script>
<script src="@{'/public/js/tmpl.min.js'}"></script>
<script src="@{'/public/js/load-image.js'}"></script>
<script src="@{'/public/js/canvas-to-blob.min.js'}"></script>
<!-- <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script> -->
<script src="@{'/public/js/jquery.iframe-transport.js'}"></script>
  <script src="@{'/public/js/jquery.fileupload.js'}"></script> 
  <script src="@{'/public/js/jquery.fileupload-fp.js'}"></script> 
<!-- <script src="/public/js/jquery.fileupload-ui.js"></script> -->
 <script src="@{'/public/js/locale.js'}"></script>
 <script src="@{'/public/js/main.js'}"></script>
 <script src="@{'/public/javascripts/studentlogin.js'}"></script>
 <script type="text/javascript" src="@{'/public/javascripts/login.js'}"></script>
<script type="text/javascript">

/*异步提交form分享表单*/
	$(document).ready(function() {
		$('#share_form').ajaxForm({
			dataType : 'json',
			success : share_response
		});
	});
	function share_response(){
		alert("分享成功");
		jQuery.noConflict();
		$('#linkman').modal('hide');
	}
	
 
/*好友列表框出现*/
function share_begin(){
	 jQuery.noConflict();
	$('#linkman').modal();
}

/*搜索相应学院学科资源的分页操作*/
 function Search_paging(page){
	$('#sure_page').val(page);
	$("#search_sure_form").submit();
}
 

/*搜索相应学院学科资源*/
 $(document).ready(function() {
		$('#search_sure_form').ajaxForm({
			dataType : 'json',
			success : sure_Response
		});
	});
	function sure_Response(data){
		var html = '';
		if(data != "1"){
		    $.each(data[0], function(commentIndex, comment) {
			html += "<div class='resource_name'><a href=ViewResource/viewDownloadsDetails?hashName="+comment.hashName + ">" 
			+ comment.realName 
			+ "</a></div>" 
			+"<br>";
		});
	}
		  search_pageNav.go(parseInt($('#sure_page').val()),data[1]);/*$('#sure_page').val()蛋疼的传到后方是String类型导致+法计算的时候它直接按照String来连接了*/
		  var back_home = "<ul class='breadcrumb'>"
		  + "<li><a href='#' onclick='back_home();'>首页</a> <span class='divider'>/</span></li>"
		  + "<li><a href='#' onclick='back_resource();'>资源</a> <span class='divider'>/</span></li>"
		  + " <li class='active'>搜索</li></ul>"
		  + ""
		$('#search_sure').hide();
		$('#resource').html(html);
		$('#back_home').html(back_home);
	}
	
/*返回主界面*/
function back_home(){
	$('#search_sure').show();
	$('#downmes').fadeOut("slow");
}
/*返回资源界面*/
 function back_resource(){
	$('#search_sure').show();
	$('#resource').html($('#resource_html').val());
	$('#back_home').html("<ul class='breadcrumb'>"+
			   "<li><a href='#' onclick='back_home();'>首页</a> <span class='divider'>/</span></li>"+
			    "<li class='active'>资源</li></ul>");
}

/*显示学院*/
$(document).ready(function() {
	$.get("ViewResource/viewInstitute",function(institute_data){
		$.each(institute_data,function(commentIndex, comment){
		$('#institute_nav').append("<li><a href='#' onclick=\"$('#hiddenval').val('"
		+ institute_data[commentIndex]+"');viewSub();\">"
		+ institute_data[commentIndex]
		+ "</a></li>");
		});
	},"json");
});

	/*显示相应学院学科目录*/
	function viewSub() {
		$.get("ViewResource/viewSubject",
		{
	     institute : $("#hiddenval").val()
		},
		function(data, textStatus) {
		var html = "";
		$.each(data,function(commentIndex, comment) {
		html += "<a href='#' onclick=\"$('#hiddenvalsub').val('"
			+data[commentIndex].subject+"');viewRes();\">"
			+ data[commentIndex].subject
			+ "</a><br>";
		});
		$('#subject').html(html);
		}, "json");
	}
	
	/*显示学院学科资源，并调用分页插件*/
       function getRes(page){
    	   var html = "";
   		$.get("ViewResource/viewDownloadsList", {
   			fileroute : $("#hiddenval").val(),
   			subject : $("#hiddenvalsub").val(),
   			page : page
   		   }, function(data, textStatus) {
   			pageNav.go(page,data[1]);
   			$.each(data[0], function(commentIndex, comment) {
   				html += "<div class='resource_name'><a href=ViewResource/viewDownloadsDetails?hashName="+comment.hashName + ">" 
   				+ comment.realName 
   				+ "</a></div>" 
   				+"<br>";
   				$('#resource').html(html);
   				$('#resource_html').val(html);
   			});
   		  }, "json");
	   }
	function viewRes() {
		getRes(1);
		$('#sure_subject').val($('#hiddenvalsub').val());
		$('#sure_institute').val($('#hiddenval').val());
		
		$('#back_home').html("<ul class='breadcrumb'>"+
				   "<li><a href='#' onclick='back_home();'>首页</a> <span class='divider'>/</span></li>"+
				    "<li class='active'>资源</li></ul>");
		$("#downmes").fadeIn("slow");
	}
	
	/*登录之前显示热门资源(已整合)*/
	$(document).ready(
			function() {
				$.get("ViewResource/viewMostDown", function(data,
						textStatus) {
					$.each(data, function(commentIndex, comment) {
                  $('#hot_resource').append("<li class='item'>" + 
                		  "<img class='icon left' src=\""+"@{'/public/images/'}"+"/"+ comment.picture +"\"}/>" + 
                		  "<div class='detail left'>" + 
                		  "<h3>"+data[commentIndex].realName+"</h3>" +
                		  "<p><span class='tips'>上传者：" + data[commentIndex].uploadname + "</span>"+
                				  "<span class='tips'>时间："+data[commentIndex].uploaddate+"</span></p></div>" + 
                		  "<a title='进入下载界面' href='ViewResource/viewDownloadsDetails?hashName="+ data[commentIndex].hashName +
                				  "'><img class='icon right' src=\"@{'/public/images/down.png'}\"/></a> </li>" 
                  );
					});
				}, "json");
			});
	
	/*异步搜索*/
	$(document).ready(function() {
		$('#searchForm').ajaxForm({
			success : showSearchRes,
			datatype : 'json'
		});
	});

	function showSearchRes(responseJson) {
		var html = "";
		if ((typeof (responseJson[0].institute)) == "undefined") {
			/*
			*/
		} else {
			$.each(responseJson, function(commentIndex, comment) {
				html += "<a href=ViewResource/viewDownloadsDetails?hashName="+responseJson[commentIndex].hashName + ">" 
				+ responseJson[commentIndex].realName 
				+ "</a>" 
				+"<br>";
			});
		}
		$('#searchres').html(html);
	}
	
	/*上传列表框二级联动*/
	$(document).ready(function(){
		$.get("ViewResource/viewInstitute",function(data){
			$('#institute_sel').empty();
			$('#institute_sel').append("<option>---请选择---</option>");
			$.each(data,function(commentIndex, comment){
				$('#institute_sel').append("<option>"+data[commentIndex]+"</option>");
			});
		},"json");
	});
     $('#institute_sel').change(function(){
    	 $.get("ViewResource/viewSubject",{
    		 institute: $('#institute_sel').val()
    	 },function(data){
    		 $('#subject_sel').empty();
    		 if(data == ""){
    			 $('#subject_sel').append("<option>---请选择---</option>");
    		 }else{
 			$.each(data,function(commentIndex, comment){
 				$('#subject_sel').append("<option>"+data[commentIndex].subject+"</option>");
 			});
 			}
 		},"json");
     });
     /*左侧滑块事件*/
     $("#left_active").click(function(){
    		if($("#left_side").hasClass("open")){
    			$("#left_side").animate({width: '26px'}).removeClass("open");
    			$("i").removeClass(" icon-chevron-left").addClass("icon-chevron-right");
    		}else{
    		$("#left_side").animate({width: '400px'}).addClass("open");
    		$("i").removeClass(" icon-chevron-right").addClass("icon-chevron-left");
    		}
    	});
     /*学生登录异步提交，并且显示该学生所在学院的热门资源*/
 	$(document).ready(function() {
 		$('#loginForms').ajaxForm({
 			success : showResponse,
 			datatype : 'json'
 		});
 	});
 	
 	function showResponse(responseJson) {
 		var html = "";
 		if (responseJson == null) {
 			alert("用户名或者密码错误");
 		} else {
 			$("#top_information").empty();
 			$("#top_information").append("<li class='navTag'><a href='#' onclick='uploadframe();'>我要上传</a></li>"
 					+ "<li class='navTag'><a href=\"@{Personal.view_personalinfo()}?iframe_info=@{Personal.view_message()}\">你有"+responseJson[1]+"条消息</a></li>"
 					+ "<li class='navTag'><a href=\"@{Personal.view_personalinfo()}?iframe_info=@{Personal.welcome()}\">个人中心</a></li>"
 					+ "<li class='navTag'><a href=\"@{Login.exitLogin()}\">退出</a></li>"
 			);
 			$.each(responseJson[0], function(commentIndex, comment) {
 			$("#suggestorlogin").empty();
 			/*推荐资源,这里的css在want.css,index.htm or page.css里面*/
 			if(commentIndex%2 == 0) 
 				html+= '<ul class="suggestColumn suggestCommon">';
 			html+='<li class="suggestItem suggestItemCommon"><div class="wantItemHeader"><a href="@{ViewResource.viewDownloadsDetails()}?hashName='+ comment.hashName +'"><h3 class="left">'+comment.realName+'</h3></a></div><br><br><div class="suggestItemBody">简介:'+comment.intro+'</div>'
 			html+='<div class="right operation"><span class="tips">'+comment.uploaddate+'</span><span class="tips">'+comment.uploadname+'</span></div></li>';
 			if(commentIndex%2 != 0)
 				html+='</ul>';
 			});
 			$("#suggestorlogin").html(html);
 			/*联系人的分组显示*/
 			$.each(responseJson[2],function(commentIndex,map){
 				$('#modal-body').append("<p><i class='icon-plus' id='friendi' onclick='friend_state("+ map.group_id +");'></i>"+ map.group
 						  + "<input type='checkbox' id='group_" + map.group_id + "' onclick='group_click("+ map.group_id +");' name='group_name' value='"+ map.group +"'>" +
 						  "</p>");
 				$('#modal-body').append("<div id='div_group_" + map.group_id + "' class='friend_name'></div>");
 				$.each(map.linkman,function(Index,LinkMane){
 					$("#div_group_" + map.group_id).append("<label class='checkbox'>"+
 							  "<input type='checkbox' name='linkname' class='div_firend_"+ map.group_id + " ' value='"+LinkMane.friend_name+"'>"+LinkMane.friend_name+
 							  "</label>"); 
 				});
 				});
 		}
 	}
 	/*如果session里面有值的话就自动登录,即存放session的隐藏域不为空值*/
	$(function(){
		var username = $('#session_username').val();
		var password = $('#session_password').val();
		var tipinfo = $("#tipinfo").val();
		if(username != ""){
			$('#login').hide();
			$("#header").animate({
				height: '420px'
			});
			$.getJSON('@{ViewResource.viewInsMostDown}',function(data){
				showResponse(data);
			});
		}else if(tipinfo == "请登录"){
			$("#header").animate({
				height: '420px'
			});
		}else{
		}
	});
	function uploadframe(){
		$('#share_button').hide();
		jQuery.noConflict();
		$('#uploadssurface').modal();
	}
     </script>
