#{extends 'main.html' /} #{set title:'Home' /}
<style type="text/css">
#form {
	position: absolute;
	left: 1000px;
	top: 50px;
}

#institute {
	position: absolute;
	left: 0px;
	top: 250px
}

#subject {
	position: absolute;
	left: 110px;
	top: 45px
}
#login {
	position: absolute;
	left: 925px;
	top: 200px;
	width: 300px;
	text-align:center;
}

#searchForm {
	position: absolute;
	left: 800px;
	top: 250px;
}

#searchres {
	position: absolute;
	left: 800px;
	top: 300px;
}

#wronglogin {
	position: absolute;
	left: 1150px;
	top: 180px;
}
#suggest{
    position: absolute;
	left: 500px;
	top: 200px;
	overflow:auto;
	height:400px;
	width:300px;
}
#doc_middle_1{
    position: absolute;
	left: 500px;
	width: 280px;
	background-color:#e1e8e5;
	height :100%;
}
#doc_middle_2{
    position: absolute;
	left: 1050px;
	width: 280px;
	background-color:#e1e8e5;
	height :100%;
}
.doc_resourcedetails{
    height:35px;
	width:220px;
	line-height:35px;
	text-align:center;
	background-color:#CFDAD5;
	font-weight: 10
}
#cover_1{
    position: absolute;
    left: 783px;
	top:  180px;
	width: 20px;
	background-color:white;
	height :280px;
	z-index:1;
}
#cover_2{
    position: absolute;
    left: 783px;
	top:  300px;
	width: 20px;
	background-color:white;
	height :400px;
	z-index:1;
}
#uploadsbutton{
    position: absolute;
    left: 190px;
	top:30px;
	width: 150px;
}
#downmes{
    position: absolute;
    left: 0px;
	top:0px;
	width: 500px;
	height:100%;
	background-color:white;
	display:none;
	z-index:1;
}
#bread{
    position: absolute;
    left: 0px;
	top:0px;
	width: 500px;
}
#navagation{
position: absolute;
    left: 0px;
	top:  36px;
}
</style>
<div id="cover_2">
</div>
<div id="cover_1">
</div>
<div id="doc_middle_1">
</div>
<div id="doc_middle_2"></div>
<!-- 隐藏域，用来记录学院 -->
<input type="hidden" id="hiddenval">
<!-- 隐藏域，用来记录学院下的小目录 -->
<input type="hidden" id="hiddenvalsub">
<!-- 隐藏域，用来记录学院学科资源html信息 -->
<input type="hidden" id="resource_html">
<!-- 隐藏域，记录总的页数 -->
<input type="hidden" id="page">
<!-- 显示资源信息 -->
<div id="downmes">
<div id="back_home"></div>
<div id="resource"></div>

<div id="search_sure">
<form id="search_sure_form" action="@{Search.search_sure_res}">
<input type="text" name="sure_name">
<input type="hidden" name="sure_subject"  id="sure_subject">
<input type="hidden" name="sure_institute" id="sure_institute">
<input type="hidden" name="sure_page" id="sure_page" value="1">
<input type="submit" value="search">
</form></div>

<div id="test" style="height:70px;padding:30px 10px;"></div>

<div id="pageNav"></div>
 <div class="pagination">
  <ul id="pagenumber">
  </ul>
</div>
</div>

</div>

<!-- 显示推荐信息 -->
<div id="suggest"></div>
<!-- 显示搜索结果 -->
<div id="searchres"></div>
<!-- 登录错误提示信息 -->
<label id="wronglogin">${user ?:'游客！欢迎你'}!</label>
<!-- 显示对应学院的学科 -->
<div id="subject"> </div>


<!-- 登录块 -->
<div id="login">
	<form class="form-horizontal" action="@{Login.LoginCheck()}" id="loginForms">
  <div class="control-group">
    <label class="control-label" for="inputEmail">学号</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Number" name="username">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">密码</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">登录</button>
    </div>
  </div>
</form>
</div>
<!-- 首页面包屑 -->
<div id="bread">
<ul class="breadcrumb">
  <li class="active">首页</li>
  </ul>
</div>

<!-- 导航栏 -->
<div id="navagation">
<div class="tabbable tabs-left">
<ul class="nav nav-tabs" id="institute_nav">
</ul>
</div>
 </div>
<!-- 上传对话框 -->
<div id="uploadssurface" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">上传</h3>
  </div>
  <div id="mes"></div>
  <div class="modal-body">
  <form action="@{Uploads.uploads()}" enctype="multipart/form-data"
		method="post" id="myForm">
  学院：
  <select name="institute_sel" id="institute_sel">
  </select>
  学科:
  <select name="subject_sel" id="subject_sel">
  <option>---请选择---</option>
  </select>
  资源名称:
  <input type="file" name="upfile" id="upfile"> 
  <input type="submit" value="上传" class="btn btn-primary">
  </form>
  </div>
  <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<!-- 显示搜索栏 -->
<!--  
<div>
	<form id="searchForm" action="@{Search.searchRes()}">
		<input type="text" name="searchname"><br> <input
			type="submit" value="搜索">
	</form>
</div>
-->


<script src="/public/javascripts/studentlogin.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="/public/javascripts/jquery-1.6.4.min.js"></script>
<script src="/public/javascripts/pagenav1.1.min.js"></script>
<script src="/public/javascripts/seach_paging.js"></script>
<script src="/public/javascripts/jquery.form.min.js"></script>
<script type="text/javascript">
/*搜索的分页操作*/
 function Search_paging(page){
	$('#sure_page').val(page);
	//alert(page);
	$("#search_sure_form").submit();
}
 

/*搜索相应学院学科资源*/
 $(document).ready(function() {
		$('#search_sure_form').ajaxForm({
			dataType : 'json',
			success : sure_Response
		});
	});
	
	function sure_Response(data){
		var html = '';
		$.each(data[0], function(commentIndex, comment) {
			html += "<a href=@{ViewResource.viewDownloadsDetails}?hashName="+comment.hashName + ">" 
			+ comment.realName 
			+ "</a>" 
			+"<br>";
		});
		  search_pageNav.go(parseInt($('#sure_page').val()),data[1]);/*$('#sure_page').val()蛋疼的传到后方是String类型导致+法计算的时候它直接按照String来连接了*/
		  var back_home = "<ul class='breadcrumb'>"
		  +"<li><a href='#' onclick='back_home();'>首页</a> <span class='divider'>/</span></li>"
		  +"<li><a href='#' onclick='back_resource();'>资源</a> <span class='divider'>/</span></li>"
		  +" <li class='active'>搜索</li></ul>"
		$('#search_sure').hide();
		$('#resource').html(html);
		$('#back_home').html(back_home);
	}
	
/*返回主界面*/
function back_home(){
	$('#downmes').fadeOut("slow");
}
/*返回资源界面*/
 function back_resource(){
	$('#search_sure').show();
	$('#resource').html($('#resource_html').val());
	$('#back_home').html("<ul class='breadcrumb'>"+
			   "<li><a href='#' onclick='back_home();'>首页</a> <span class='divider'>/</span></li>"+
			    "<li class='active'>资源</li></ul>");
}
 

/*显示学院*/
$(document).ready(function() {
	$.get("@{ViewResource.viewInstitute}",function(institute_data){
		$.each(institute_data,function(commentIndex, comment){
		$('#institute_nav').append("<li><a href='#' onclick=\"$('#hiddenval').val('"
		+ institute_data[commentIndex]+"');viewSub();\">"
		+ institute_data[commentIndex]
		+ "</a></li>");
		});
	},"json");
});

	/*显示相应学院学科目录*/
	function viewSub() {
		$.get("@{ViewResource.viewSubject}",
		{
	     institute : $("#hiddenval").val()
		},
		function(data, textStatus) {
		var html = "";
		$.each(data,function(commentIndex, comment) {
		html += "<a href='#' onclick=\"$('#hiddenvalsub').val('"
			+data[commentIndex].subject+"');viewRes();\">"
			+ data[commentIndex].subject
			+ "</a><br>";
		});
		$('#subject').html(html);
		}, "json");
	}
	
	/*显示学院学科资源，并调用分页插件*/
       function getRes(page){
    	   var html = "";
   		$.get("@{ViewResource.viewDownloadsList}", {
   			fileroute : $("#hiddenval").val(),
   			subject : $("#hiddenvalsub").val(),
   			page : page
   		   }, function(data, textStatus) {
   			pageNav.go(page,data[1]);
   			$.each(data[0], function(commentIndex, comment) {
   				html += "<a href=@{ViewResource.viewDownloadsDetails}?hashName="+comment.hashName + ">" 
   				+ comment.realName 
   				+ "</a>" 
   				+"<br>";
   				$('#resource').html(html);
   				$('#resource_html').val(html);
   			});
   		  }, "json");
   		     
	   }
	function viewRes() {
		getRes(1);
		$('#sure_subject').val($('#hiddenvalsub').val());
		$('#sure_institute').val($('#hiddenval').val());
		
		$('#back_home').html("<ul class='breadcrumb'>"+
				   "<li><a href='#' onclick='back_home();'>首页</a> <span class='divider'>/</span></li>"+
				    "<li class='active'>资源</li></ul>");
		$("#downmes").fadeIn("slow");
	}
	
	
	/*异步上传*/
	$(document).ready(function() {
		$('#myForm').ajaxForm({
			dataType : 'json',
			success : uploadsResponse
		});
	});
	function uploadsResponse(data){
		     alert("上传成功");
			 $('#mes').html("<div class='alert'> " +
			  "<button type='button' class='close' data-dismiss='alert'>关闭</button>"+
			  "<form action='@{Uploads.alterFilename}' id='alertfileform'><input type='text' name='filename' value='"+ data[1] +"'>"
			  +"<input type='hidden' value='"+data[0]+"' name='id'><input type='submit' value='修改' class='btn btn-danger'></form>"+
			  "</div>");
			 
			 $('#alertfileform').ajaxForm(function(){
				 $('#mes').html("<div class='alert alert-success'>恭喜你！修改成功！<br></div>")
			 });
			$('#upfile').val("");
	}
	/*登录之前显示热门资源*/
	$(document).ready(
			function() {
				$.get("@{ViewResource.viewMostDown()}", function(data,
						textStatus) {
					var html = "热门资源" + "<br>";
					$.each(data, function(commentIndex, comment) {
								html += "<div class='doc_resourcedetails'>"+
								"<a href=@{ViewResource.viewDownloadsDetails}?hashName="+data[commentIndex].hashName + ">" 
										+ data[commentIndex].realName 
										+ "</a>" 
										+"</div><br>";
					});
					$('#suggest').html(html);
				}, "json");
			});
	

	
	
	/*异步搜索*/
	$(document).ready(function() {
		$('#searchForm').ajaxForm({
			success : showSearchRes,
			datatype : 'json'
		});
	});

	function showSearchRes(responseJson) {
		var html = "";
		if ((typeof (responseJson[0].institute)) == "undefined") {
			/*
			*/
		} else {
			$.each(responseJson, function(commentIndex, comment) {
				html += "<a href=@{ViewResource.viewDownloadsDetails}?hashName="+responseJson[commentIndex].hashName + ">" 
				+ responseJson[commentIndex].realName 
				+ "</a>" 
				+"<br>";
			});
		}
		$('#searchres').html(html);
	}
	
	/*上传列表框二级联动*/
	$(document).ready(function(){
		$.get("@{ViewResource.viewInstitute}",function(data){
			$('#institute_sel').empty();
			$('#institute_sel').append("<option>---请选择---</option>");
			$.each(data,function(commentIndex, comment){
				$('#institute_sel').append("<option>"+data[commentIndex]+"</option>");
			});
		},"json");
	});
	
     $('#institute_sel').change(function(){
    	 $.get("@{ViewResource.viewSubject}",{
    		 institute: $('#institute_sel').val()
    	 },function(data){
    		 $('#subject_sel').empty();
    		 if(data == ""){
    			 $('#subject_sel').append("<option>---请选择---</option>");
    		 }else{
 			$.each(data,function(commentIndex, comment){
 				$('#subject_sel').append("<option>"+data[commentIndex].subject+"</option>");
 			});
 			}
 		},"json");
     });
</script>
