<link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
</head>
<body>


<!-- 首页顶端导航 -->
<button type="button" data-toggle="modal" data-target="#uploadssurface">Launch modal</button>

<!-- 上传对话框 -->
<div id="uploadssurface" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  </div>
  <div class="modal-body">
          <button type="button" data-toggle="modal" data-target="#linkman">Launch modal</button>
  </div>
</div>




<!-- 联系人显示块 -->
<div id="linkman" class="modal hide fade">
<div class="modal-header" id="modal-header">
    </div>
    <div class="modal-body" id="modal-body">
    <input type="text">
    </div>
  <div class="modal-footer">
  <input type="text">
  <input type="submit" value="提交">
  </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"></script>


 
